venv/
__pycache__/
*.pyc
.env
instance/
logs/
.pytest_cache/
.mypy_cache/
.vscode/
.tmp.driveupload/
.DS_Store
Thumbs.db
data/*.db
explore_data.zip
env_and_requirements_notes.md
static/style11.css
templates/admin/
templates/archv/
data/rockyou.txt
data/rockyou_clean.txt
data/password_frequency.csv
data/training_data.csv
data/training_data_v2.csv
data/training_data_v3.csv
data/breach_cache.db
model/*.pkl
